*{
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
    margin-left: 30%;
    margin-top: 5%;
}

#container-counter{
    margin: 3rem;
}

.points{
    color: goldenrod;
    font-size: larger;
}

.coin{
    color: goldenrod;
    font-size: 20px;
    font-weight: bolder;
}

td{
    border: rgba(0, 0, 0, 0.2) solid 1px;
    height: 30px;
    width: 30px;

}

.red{
    background: red;
}

.hidden{
    display: none;
}

#won{
    font-family: Verdana;
    color: goldenrod;
    position: absolute;
    left: 40%;
    font-size: 3rem;
    top: 10%;
}

.restart {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    cursor:pointer;
    border-color:#eeb44f;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    text-shadow:inset 0px 1px 0px #cc9f52;
    background:linear-gradient(#ffc477, #fb9e25);
}
.restart:hover {
	background: linear-gradient(#fb9e25, #ffc477);
}
.restart:active {
	position:relative;
	top:1px;
}
