*{
    text-align: center;
}

#container{
    display: flex;
    align-items: center;
    margin-left: 30%;
    margin-top: 5%;
}

#container-counter{
    margin: 3rem;
}

.points{
    color: goldenrod;
    font-size: larger;
}

.coin{
    color: goldenrod;
    font-size: 20px;
    font-weight: bolder;
}

td{
    border: rgba(0, 0, 0, 0.2) solid 1px;
    height: 30px;
    width: 30px;

}

.red{
    background: red;
}
